<p class="indiv-card-title"> My bookings </p>

<div class="list">
<div class="list-item">
  <h2 >As a booker :</h2>
  <%= render partial: 'shared/reservationasbooker', collection: @reservations_as_booker %>
</div>

<div class="list-item">
  <h2 >As an owner :</h2>
  <%= render partial: 'shared/reservationasowner', collection: @reservations_as_owner %>
</div>
</div>
