<div class="banner" id="banner-image">
  <div class="container">
    <p>For a memorable Party, </p>
    <h1>Rent a Poney ! </i></h1>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>


<!--<a class="btn btn-ghost" href="#">Write a story</a>
<a class="btn btn-flat" href="#">Book now</a>
<a class="btn btn-gradient" href="#">Start now</a> -->
