.list{
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2{
  font-family:Courier;
  text-shadow: 1px 3px 3px white;
  color: #F27465;
}
