.navbar-lewagon {
  justify-content: space-between;
  background:#fad2e1;
  font-family: 'Courier', cursive;
  font-size: 25px;
  padding: 6px;
  text-decoration: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
  border-radius: 50%;
}

.dropdown-item {
  font-size: 20px;
}
.dropdown-button{
  padding: 8px;
  font-size: 40px;
  color: #00afb9;
  margin: 30px;
}

.dropdown-button:hover{
  color:#bee1e6;
}

.title{
  font-family: 'Qwigley', cursive;
  font-size: 61px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 6px 21px black;
}

.nav-word{
  margin-top: 10px;
  color:#00afb9;
  text-shadow: 2px 1px 2px white;
  text-decoration: none;
}

.nav-word:hover{
  text-decoration: none;
}
