.poney-card{
  display: flex;
  height: 170px;
  box-shadow: 2px 5px 11px #adb5bd ;
  background-color: #f2f0f5;
  margin: 12px;
  padding: 12px;
  justify-content: space-between;
}

.poney-cards{
  display:grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Courier';
  justify-content: space-between;
}

@media(max-width: 992px) {
  .poney-cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 768px) {
  .poney-cards {
    grid-template-columns: 1fr;
  }
}


.poney-title{
  color:whitesmoke;
  font-family: 'Qwigley', cursive;
  font-size: 60px;
  text-align: center;
  text-shadow: 1px 2px 4px black;
  margin: 70px;
  border: dashed;
  border-color: #b5179e ;
  border-width: 8px;
  padding:20px;
}

.poney-list{
  font-family: "Courier";
  margin:40px;
  text-align: center;
  padding: 13px;
  font-size: 33px;
}

.poney-card-img{
  top: 3px; left: 435px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: 1px 2px 4px black;
}

.poney-description-title{
  margin:5px;
  padding-top:6px;
  font-size: 14px;
}
