.poney-card{
  height: 170px;
  box-shadow: 1px 1px 3px #004e98 ;
  background-color: #fde2e4;
  margin: 12px;
  padding: 12px;
  position:relative;
}

.poney-title{
  color:whitesmoke;
  font-family: 'Qwigley', cursive;
  font-size: 60px;
  text-align: center;
  text-shadow: 1px 2px 4px black;
  margin: 70px;
  border: dashed;
  border-color: #b5179e ;
  border-width: 8px;
  padding:20px;
}

.poney-cards{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: 'Courier';
  justify-content: space-between;
}

.poney-list{
  font-family: "Courier";
  margin:40px;
  text-align: center;
}

.poney-card-img{
  position:absolute;
  top: 65px; left: 242px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 1px 2px 4px black;
}
