.reservation-box{
  justify-content: center;
  box-shadow: 1px 1px 30px black;
  background-color: #faedcb;
  width: 463px;
  padding: 20px;
  margin:0 auto;
}


.confirm-booking{
  justify-content: center;
  margin:0 auto;
  width: 463px;
  text-align: left;
  font-family: 'Courier';
  margin-top: 55px;
  padding-left: 60px;
}
